<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% require 'date' %>
    <% now_time = Date.today %>
    <p><%= "The date is #{now_time.strftime('%A, %B %d, %Y')}" %></p>
  </body>
</html>
